.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #032062;
    font-weight: 700;
  }
  
  .navigation button {
    font-size: 18px;
    padding: 10px;
    margin: 0 20px;

    color: #032062;
    border: none;
    cursor: pointer;
  }
  
  .navigation button:hover {
    background-color: #D9DCE7;
  }
  
  #currentMonth, #currentWeek, #currentYear{
    font-size: 24px;

  }
  